.sendRequest{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}
.sendRequest h2{
    width: 40%;
    margin-top: 5%;
    margin-bottom: -0.1%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.sendRequest p{
    max-width: 40%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
.sendRequest a{
    color: rgb(48, 127, 151);
}
.sendRequest label{
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    width: 40%;
}
form{
    width: 40%;
}
.data{
    width: 100%;
    outline: none;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 8px 0 5px 5px;
    font-size: 14px;    
}
.btn {
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
	background-color:#63b8ee;
	border-radius:6px;
	border:1px solid #3866a3;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #7cacde;
    outline: none;
}
.btn:hover {
	background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
	background-color:#468ccf;
}
.btn:active {
	position:relative;
	top:1px;
}

.error, .failed{
    color: white;
    background-color: rgb(255, 97, 97);
    width: 40%;
    padding: 4px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .success{
    color: white;
    background-color: rgb(16, 155, 51);
    width: 40%;
    padding: 4px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  @media all and (max-width: 800px) {    
    .form{
        display: flex;
        flex-direction: column;
    }
    .btn{
        font-size: 13px;
        margin-bottom: 5px;
        width: 100%;
    }
  }