:root{
    --backgroundColor: rgba(49, 178, 218, 0.644);
}
.home{
	margin-top: -0.2%;
    margin-left: 0%;
    opacity: 0.5;
    height: 100vh;
    width: 95%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all ease-in .5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Montserrat, sans-serif;
} 
.slideEffect{
	margin-top: 0;
	margin-left: 5%;
	opacity: 1;
}
.title{
    width: 100%;
    margin-top: 0%;
    height: 10%;
    background-size: cover;
    background-image: url('/Images/client-data-banner.jpg');
    opacity: 0.7;
    background-position: center;
    display: flex;    
    align-items: center;
    justify-content: center;
}
h1{
    background: linear-gradient(to right, #2ab6b6 0%, #bd8712 100%);
    background-clip: text;
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
	letter-spacing: 0.8rem;
}
legend{
    color: #228bc7;
    font-weight: bold;
}

.home__sections{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 30px;
}
input[type=text], input[type=password]{
    width: 100%;
    outline: none;	
    border: 1px solid #228bc7;
    border-radius: 6px;
    padding: 4px;
    font-size: 14px;
    margin-top: 5px;
}
input[type=text]:focus, input[type=password]:focus, select:focus{
    background-color: #228ac72a;
}
.home__adminInfoSection, .home__gralInfoSection, .home__docSection{
    border: 1px solid #228bc7;
    border-radius: 8px;
    padding: 20px;
    width: 25%;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.home__docSectionRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}


.home__inputData, .home__socialNetworkItem{
    position: relative;
    margin-bottom: 20px;
}
.home__inputData label, .home__socialNetworkItem a, .home__inputData a, .home__inputData p{
    color: #1e70a0;
    position: absolute;
    top: -15px;
    left: 0;
    font-size: 14px;
    font-weight: 400;
	transition: all 0.5s ease-in-out;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.home__inputData p{
    top: -28px;
}
.home__inputData img{
    width: 80%;
}
input[type=file]{
    margin-top: 8px;
    font-size: 14px;
    outline: none;
}

.home__adminInfoBtn, .home__gralInfoBtn {
    width: 150px;
    height: 25px;
    cursor: pointer;
    background: #4F95DA;
    border: 1px solid #91C9FF;
    font-weight: 700;
    outline: none;
    transition: 1s ease-in-out;
    position: relative;
    float: right;
  }
  
  svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: rgb(0, 0, 0);
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
  }
  
  .home__adminInfoBtn:hover {
    transition: 1s ease-in-out;
    background: rgb(221, 146, 7);
  }
  
  .home__adminInfoBtn:hover svg {
    stroke-dashoffset: -480;
  }
  
  .home__adminInfoBtn span {
    color: white;
    font-size: 14px;
    font-weight: 100;
  }
  .error, .success{
    color: white;
    padding: 5px;
    margin-top: 15px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    width: 50%;
  }
  .error{
    background-color: rgb(255, 97, 97);
  }
  .success{
    background-color: rgb(27, 141, 4);
  }

  @media all and (max-width: 900px) {    
    .home__sections{
        flex-direction: column;
        align-items: center;
    }
    .home__adminInfoSection, .home__gralInfoSection, .home__docSection{
        margin-bottom: 20px;
        width: 60%;
    }
    .title{
        font-size:  10px;
    }
}