  nav {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgb(48, 127, 151);
    width: 5%;
  }

   .menuElement {
      width: 70%;
      margin-left: 15%;
  }

  