  nav {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgb(48, 127, 151);
    /*background-image: url('/Images/multicolor-banner.png');
    background-position: right;*/
    width: 5%;
  }
  a{
    transition: all 0.2s;
  }
  nav a:hover{
    transform: translateX(3%);
  }
  p{
    color: white;
    font-weight: 500;
    text-align: center;
    font-size: 1vw;
  }

   .menuElement {
      width: 70%;
      margin-left: 15%;
  }

  